.carrito-de-compras {
   
}

.carrito-qty {
    background-color: #EB2F37;
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-size: 6px;
    font-weight: 600;
    
}

.carrito-logo {
 
}