.lista-productos {
    list-style: none;
   
}
.contenedor-producto {
    width: 280px;
    height: 550px;
    margin: 15px auto 15px auto;
}

.contenedor-texto {
    margin: 0px;
}

.contenedor-imagen {
    position: relative;
}

.contenedor-imagen:hover{
    opacity: 0.8;

}

.Option {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
    color: rgb(171, 167, 164);
    font-size: 14px;
    padding: 8px;
   
}

.producto-imagen {
    width: 280px;
}

.contenedor-producto h3 {
 margin: 0px;
}

.producto-imagen {
    width: 280px;
    height: 280px;
}

